.playersList {
    background-color: #00009b;
    width: 520px;
    height: auto;
    position: fixed;
    margin-left: 30%;
    overflow-y: auto;
    scroll-snap-points-y: repeat(200px);
    scroll-snap-type: mandatory;

}
.playerArticle {
    
    margin-top: 25px;
    image-rendering: auto;
    icon: auto;
}